{% load default %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="/">Админка</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
        </nav>
        <h2 class="h4">{{title}}</h2>
    </div>
</div>
<div class="table-settings mb-4">
    <div class="row justify-content-between align-items-center">
        <form class="col-9 col-lg-8 d-md-flex" method="get">
            <div class="input-group me-2 me-lg-3 fmxw-300">
                <span class="input-group-text">
                    <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                </span>
                <input type="text" name="search" class="form-control" value="{{search}}" placeholder="Поиск">
            </div>
            <select name="order_by" class="form-select fmxw-200 d-none d-md-inline" aria-label="Message select example 2">
                {% for select in order_by_objects.list %}
                <option {% if select.value == order_by_objects.active %}selected{% endif %} value="{{select.value}}">{% if select.down %}↓{% else %}↑{% endif %} {{select.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-sm px-3 btn-secondary ms-3">Применить</button>
            {% if search %}
            <a class="btn btn-sm px-3 btn-danger ms-3" href="?">✕</a>
            {% endif %}
        </form>
    </div>
</div>
<div class="card card-body shadow border-0 table-wrapper table-responsive">
    <table class="table user-table table-hover align-items-center">
        <thead>
            <tr>
                {% for column in columns %}
                <th class="border-bottom">{{column}}</th>						
                {% endfor %}
            </tr>
            <tbody>
                {% for object in objects %}
                <tr style="cursor:pointer" {% if detail %}onclick="window.location='{% url detail pk=object.id %}';"{% endif %}>
                    {% for field in fields %}
                        <td>{{object|get_field:field|safe}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item" {% if page <= 1%}style="pointer-events:none; opacity: .5;"{% endif %}>
                    <a class="page-link" href="?page={{page|minus:1}}">Назад</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">{{page}}</a>
                </li>
                <li class="page-item" {% if not next %}style="pointer-events:none; opacity: .5;"{% endif %}>
                    <a class="page-link" href="?page={{page|plus:1}}">Дальше</a>
                </li>
            </ul>
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0">Показано <b>{{showed_values}}</b> из <b>{{count_objects}}</b> объектов</div>
    </div>
</div>